<div class="container">
  <div class="frame">

    <div class="sky-overlay"></div>
    <div class="ground-overlay"></div>

    <div class="ground">
      <div class="car car-y">
        <div class="car-x">🚘</div>
      </div>
      <div class="cactus-1">🌵</div>
      <div class="palm">🌴</div>
      <div class="cactus-2">🌵</div>
      <div class="lizard">🦎</div>
    </div>

    <div class="horizon"></div>

    <div class="sky">
      <div class="sun">😎</div>
      <div class="cloud-1">
        <div class="cloud-1-y">☁️</div>
      ️</div>
      <div class="cloud-2">
        <div class="cloud-2-y">☁️</div>
      ️</div>
      <div class="cloud-3">
        <div class="cloud-3-y">☁️</div>
      ️</div>
      <div class="dolphin">🐬</div>
      <div class="mountain-1">⛰️</div>
      <div class="mountain-2">⛰️</div>
      <div class="mountain-3">⛰️</div>
      <div class="mountain-4">⛰️</div>
      <div class="mountain-5">⛰️</div>
      <div class="mountain-6">⛰️</div>
      <div class="mountain-7">⛰️</div>
    </div>

    <div class="road-left road"></div>
    <div class="road-center road"></div>
    <div class="road-right road"></div>

  </div>
</div>
